language: ruby

rvm:
  - 1.9.3

gemfile:
  - Gemfile.ci

script:
  - bundle exec rake db:migrate --trace
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rspec -f d spec/
