<p id="notice"><%= notice %></p>

<p>
  <b>Topic:</b>
  <%= @registration.topic %>
</p>

<p>
  <b>Repository:</b>
  <%= @registration.repository %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %>
