/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.button{
    text-align: center;
    border:2px solid #a1a1a1;
    padding:5px 20px;
    background:#dddddd;
    width:300px;
    border-radius:10px;
    -moz-border-radius:10px;
}

.button:hover{
    background:#999999;
}

.rounded{
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 0px 15px 15px 15px;
    border-radius:10px;
    -moz-border-radius:10px;
}

.indent{
    margin: 20px;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    text-align: left;
}

.grid {
    text-align: center;
}

.left{
    text-align: center;
}

.cancel {
    text-align: center;
    background-color: green;
}

.active {
    background-color: #dddddd;
}

.review {
    text-align: center;
}

.bar {
    height: 50px;
}

.review-assigned {
    color: green;
}

.reviewer-assigned {
    color: green;
}

.many-reviews-assigned {
    background: red;
}

.many-reviewers-assigned {
    color: red;
}

.review-assigned a:link {
    color: green;
}
.review-assigned a:visited {
    color: green;
}

.striped tbody td:nth-of-type(even),
.striped thead th:nth-of-type(even){
	background:rgba(255,255,136,0.5);
}

table div.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  writing-mode:tb-rl;
  white-space: nowrap;
}

thead th {
  vertical-align: top;
    text-align: right;
}

table .vertical {
  white-space: nowrap;
}

table {
	border-collapse: collapse;
}

.rotated {
    padding-left: 20px;
}

th  {
	border: 1px dotted gray;
}

td  {
	border: 1px dotted gray;
}
